/* Выравнивание таблицы */
.content {
  width: 100%;
  margin-top: 40px;
}
.content .content__table {
  width: 80%;
  margin: 0 auto;
  border-collapse: collapse;
  margin: 0 auto;
}
.content .content__table td {
  border: 1px solid black;
}
.content .content__table td:nth-child(3) {
  text-align: center;
}

/* Рамка вокруг текста  */
.content .content__frame {
  background-color: blueviolet;
  height: 100px;
  width: 600px;
  text-align: center;
  outline: 2px solid blueviolet;
  border: 3px solid white;
  margin: 0 auto;
}

/* Рамка таблицы */
.content .content__table-frame {
  width: 80%;
  border-collapse: collapse;
  background: greenyellow;
  margin: 0 auto;
}
.content .content__table-frame th,
td {
  border: 3px solid white;
  padding: 5px;
}

/* 7 чудес света */

.content .content__wonders {
  list-style: none;
  margin: 0 auto;
}

.content .content__wonders li {
  background: bisque;
  padding: 1rem;
  margin-bottom: 2px;
}

.content .content__wonders .content__rounded {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}
.content .content__wonders .content__rounded2 {
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

/* Рамка */

.content .content__green-frame {
  background-color: green;
  text-align: center;
  padding: 7px;
  height: 100px;
  width: 600px;
  text-align: center;
  outline: 15px solid green;
  border: 2px solid white;
  margin: 0 auto;
}
