/* Адаптив для планшета (портрет и ландшафт) */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .navbar {
    padding-left: 118px;
    padding-right: 20px;
  }
  .navbar .navbar-content .navbar-content-logo {
    width: 40%;
  }
  .navbar .navbar-content .navbar-content-buttons {
    margin-right: 40px;
  }
  .header-content {
    width: 1220px;
  }
  .header-content
    .header-content-info
    .header-content-info-right
    .header-content-info-right-form {
    margin-right: 20px;
    margin-top: 100px;
    height: 450px;
  }
  .header-content .header-content-info .header-content-info-left {
    padding-left: 118px;
    width: 40%;
  }
  .header-content
    .header-content-info
    .header-content-info-left
    .header-content-info-left__title {
    width: 100%;
    height: 126px;
    font-family: "Raleway";
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    display: flex;
    line-height: 42px;
    align-items: center;
    text-transform: uppercase;
    color: #ffffff;
    margin-top: 54.08px;
    margin-bottom: 41px;
  }
  .header-content .header-content-info .header-content-info-left {
    padding-top: 100px;
  }
  .header-content
    .header-content-info
    .header-content-info-left
    .header-content-info-left__subtitle {
    margin-top: 31px;
    margin-bottom: 31px;
  }
  .header-content
    .header-content-info
    .header-content-info-left
    .header-content-info-left-button__download {
    height: 50px;
    width: 183.09933471679688px;
  }
  .header-content
    .header-content-info
    .header-content-info-left
    .header-content-info-left__subtitle {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    width: 183px;
    display: flex;
    align-items: center;
    color: #ffffff;
  }

  .media {
    width: 1210px;
    padding-left: 16px;
  }
  .media .media-content .media-content-images {
    height: 137px;
    width: calc(1170px - 470px);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  .tabs .tabs__content {
    margin-left: 16px;
    margin-right: 16px;
  }
  .awesome .awesome__content {
    width: 1210px;
  }
  .pricing {
    width: 1220px;
  }
  .customers {
    width: 1220px;
  }
  .download {
    width: 1220px;
  }
  .contact {
    width: 1220px;
  }
  .content {
    width: 1220px;
  }
}

/* Адаптив для Смартфона (портрет и ландшафт) */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .navbar {
    position: relative;
    width: 100%;
  }
  .navbar .navbar-content {
    width: 100%;
  }
  .navbar .navbar-content .navbar-content-buttons {
    display: none;
  }
  .header-content {
    height: 1200px;
    width: 100%;
  }
  .header-content .header-content__dark {
    height: 1200px;
    width: 100%;
  }
  .header-content .header-content-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }
  .header-content-info-left {
    width: 320px;
    align-self: center;
    justify-self: center;
    justify-content: center;
    margin-top: 84px;
    align-items: center;
  }
  .header-content
    .header-content-info
    .header-content-info-left
    .header-content-info-left__title {
    height: 168px;
    width: 288px;
    font-family: "Raleway";
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 42px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
  }
  .header-content .header-content-info .header-content-info-left__logo {
    display: none;
  }
  .header-content
    .header-content-info
    .header-content-info-left
    .header-content-info-left__subtitle {
    justify-content: center;
    text-align: center;
  }
  .header-content
    .header-content-info
    .header-content-info-right
    .header-content-info-right-form {
    justify-self: center;
    align-self: center;
    width: 288px;
    height: 381px;
  }

  .header-content .header-content-info .header-content-info-right {
    align-self: center;
    margin-top: 56px;
  }
  .header-content
    .header-content-info
    .header-content-info-right
    .header-content-info-right-form
    .header-content-info-right-form__password {
    width: 240px;
  }
  .header-content
    .header-content-info
    .header-content-info-right
    .header-content-info-right-form
    .header-content-info-right-form__email {
    width: 240px;
  }
  .header-content
    .header-content-info
    .header-content-info-right
    .header-content-info-right-form
    .header-content-info-right-form__name {
    width: 240px;
  }
  .header-content
    .header-content-info
    .header-content-info-right
    .header-content-info-right-form
    .header-content-info-right-form__header {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
  }
  .header-content
    .header-content-info
    .header-content-info-right
    .header-content-info-right-form
    .header-content-info-right-form__header
    .header-content-info-right-form__header__red {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
  }
  .header-content
    .header-content-info
    .header-content-info-left
    .header-content-info-left-button__download {
    width: 288px;
    height: 50px;
  }
  .media {
    width: 100%;
  }
  .media .media-content {
    width: 100%;
    flex-direction: column;
    height: 239px;
  }
  .media .media-content .media-content-text .media-content-text__title {
    width: 100%;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    display: flex;
    justify-content: center;
    text-transform: capitalize;
    color: #333333;
    margin-bottom: 0px;
  }
  .media .media-content .media-content-text .media-content-text__subtitle {
    width: 271px;
    font-family: "Raleway";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #86878b;
    justify-self: center;
    align-self: center;
    margin-bottom: 0px;
  }
  .media .media-content .media-content-images {
    width: 100%;
    padding-left: 0px;
    justify-content: space-around;
  }
  .media-content-images__facebook {
    height: 20.583330154418945px;
    width: 11.262332916259766px;
  }
  .media-content-images__twitter {
    height: 17.29216766357422px;
    width: 21.289663314819336px;
  }
  .media-content-images__in {
    height: 19.5px;
    width: 19.5px;
  }
  .media-content-images__p {
    height: 21.666664123535156px;
    width: 23.33333396911621px;
  }
  .media-content-images__inst {
    height: 19.54116439819336px;
    width: 19.508665084838867px;
  }
  .media-content-images__cat {
    height: 20.583330154418945px;
    width: 11.262332916259766px;
  }
  .media-content-images__wifi {
    height: 16.856664657592773px;
    width: 16.856664657592773px;
  }
  .tabs .tabs__content {
    width: 100%;
  }

  .tabs {
    width: 100%;
  }
  .tabs .tabs__content .tabs__banner .tabs__right-banner {
    display: none;
  }
  .tabs .tabs__content .tabs__banner {
    width: 100%;
    height: 900px;
    font-family: "Raleway";
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
  }
  .tabs .tabs__content .tabs__banner .tabs__left-banner {
    width: 100%;
  }
  .awesome {
    margin-top: 600px;
    width: 100%;
  }
  .awesome .awesome__content {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .awesome .awesome__separator {
    width: 134px;
    align-self: center;
    justify-self: center;
  }
  .awesome .awesome__content .awesome__header {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    text-align: center;
    justify-content: center;
    color: #000000;
  }
  .pricing .pricing_content .pricing_content_cards {
  }

  .customers .customers_content {
    width: 100%;
  }
  .customers .customers_content .customers_content__title {
    width: 100%;
    font-family: "Raleway";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
  }
  .customers .customers_content .customers_content__subtitle {
    width: 100%;
    font-family: "Raleway";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #86878b;
  }
  .customers .customers_content .customers_content_cards {
    width: 100%;
    flex-direction: column;
  }
  .customers
    .customers_content
    .customers_content_cards
    .customers_content_cards_david {
    display: none;
  }

  .customers
    .customers_content
    .customers_content_cards
    .customers_content_cards_cooper {
    display: none;
  }
  .download .download-content {
    width: 100%;
  }
  .download .download-content .download-content__title {
    width: 100%;
    font-family: "Raleway";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    margin-top: 0px;
  }
  .download .download-content .download-content__subtitle {
    width: 288px;
    font-family: "Raleway";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #ffffff;
    align-self: center;
  }
  .download .download-content .download-content__button {
    height: 50px;
    width: 287px;
  }
  .contact .contact-content {
    width: 100%;
  }
  .contact
    .contact-content
    .contact-content-text
    .contact-content-text__subtitle {
  }
  .contact .contact-content .contact-content-form {
    flex-direction: column;
  }
  .contact
    .contact-content
    .contact-content-form
    .contact-content-form-left__name {
    width: 288px;
  }
  .contact
    .contact-content
    .contact-content-form
    .contact-content-form-left__email {
    width: 288px;
  }
  .contact
    .contact-content
    .contact-content-form
    .contact-content-form-left__password {
    width: 288px;
  }
  .contact .contact-content .contact-content-form .contact-content-form-right {
    width: 288px;
  }
  .contact
    .contact-content
    .contact-content-form
    .contact-content-form-right__message {
    width: 288px;
  }
  .contact .contact-content .contact-content-form {
    justify-content: center;
    align-items: center;
  }
  .contact .contact-content .contact-content__button {
    height: 50px;
    width: 288px;
    align-self: center;

    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 50px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: capitalize;
    color: #ffffff;
  }
}
